html {
  margin: 0;
}

body {
  background-color: black;
  font-family: 'Poller One', serif;
  color: rgb(255, 175, 0);
  font-size: 3rem;
  overflow: hidden; /*because logo is too big*/
}

.container {
  width: 70%;
}

.text-wrapper {
  margin: 2rem 4rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: rotate3d(1, 0, 0, 55deg);
}

.text {
  text-transform: uppercase;
  text-align: center;
  display: none;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

.bigstar {
  width: 2px;
  height: 2px;
}

/*====================================
Content
====================================*/

/* Center it, set the color, size and hide the text */
.intro {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  animation: intro 6s ease-out 1s; /* 6 1*/
  color: rgb(75, 213, 238);
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0;
  display: none;
}

@keyframes intro {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      display: none;
  }
}

/* Set the animation & hide the logo */
.scaling-svg-container {
  position: absolute;
  padding: 0; 
  height: 693px;
  width: 419px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1);
  background-image: url(img/logo.svg);
  background-size: 100% 100%;
  z-index: 1;
  opacity: 1;
  animation: 
  logo1 10s cubic-bezier(1,.64,1,1) forwards 1s,
  logo2 5s ease-in forwards 11s;
  /* override this inline for aspect ratio other than square */
 }

 /* Scale the logo down and maintain it centered */
@keyframes logo1 {
  0% {       
      transform: translate(-50%,-50%) scale(12);
      opacity: 1;
  }

  100% {
      transform: translate(-50%,-50%) scale(1);      
  }
}

@keyframes logo2 {
  0% {       
      transform: translate(-50%,-50%) scale(1);
      opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
      display: none;
      opacity: 0;
      transform: translate(-50%,-50%) scale(1);      
  }
}